<h1> EDIT ABOUT ME PAGE </h1>

<%= form_tag('/admin/EaboutmeSave') do -%>
        <%=text_area(:post, :body, cols: 200, rows: 50,value:@bodyy) %>
                   </br>
        <div><%= submit_tag 'Save' %></div>
<% end -%>

