<div id="about-edit-wrapper">
  <div id="about-edit-container">

    <h1> EDIT ABOUT ME </h1>

    <%= form_tag('/admin/EaboutmeSave') do -%>

        <%=text_area(:post, :body, cols: 100, rows: 25,value:@bodyy) %></br>
        <div><%= submit_tag 'Save' %></div>

    <% end -%>

    <%= link_to 'Back to Panel', admin_path %>

    </div>
</div>