<div id="newsletter-wrapper">
  <div id="newsletter-container">

    <% @reports.each do |report| %>
        <h1><%= report[:name]%></h1><h2><%= report[:mail] %></h2>
    <% end %>

    <br><br>
    <%= link_to 'Export as Excel ', "NewsReport.xls" %><br>
    <%= link_to 'Back to Panel', admin_path %>

    </div>
</div>