

<%= link_to 'Export as Excel ', "NewsReport.xls" %>


<% @reports.each do |report| %>

    <h1>  <%= report[:name]%> ----- <%= report[:mail] %></h1>


<% end %>


<%= link_to 'Back to Panel', admin_path %>