
<div id="about-paragraph">
  <p>About Us</p>
  <p>&nbsp;</p>
  <p>Trendy Sunglasses is Santa Monica's largest independently owned sunglass boutique! We have over 2000 types of sunglasses in our shop from all major brands.    </p>
  <p>&nbsp;</p>
  <p>Our shelves are stocked with an amazing selection of sunglasses from the likes of Ray-Ban, Oliver Peoples, Salt Optics, Persol, Maui Jim, Paul Smith, Oakley and much, much more! Our boutique carries a wide selection of styles, brands, and prices to fit every budget.    </p>
  <p>&nbsp;</p>
  <p>Ray-Ban is currently the top brand of sunglasses in the world, and we have one of the biggest selections of Ray-Ban sunglasses for men and women in Los Angeles. We currently also have Ray-Ban eyeglasses and Ray-Ban kids sunglasses!  Our prices for Ray-Bans are below retail.  We carry all the sizes and colors in Ray-Bans!    </p>
  <p>&nbsp;</p>
  <p>Come visit and let us put you in style with our amazing selection of sunglasses and unrivaled service! </p>
</div>