
<div id="sun-text">
  Sun Brands
</div>

<div id="brands-wrapper">
    <div id="brands-container">
        <%  @AllBrands.each_with_index do |item, index| %>
            <div id="brand<%=index%3+1 %>">
                <%= image_tag "Brands/#{item}"%>
            </div>
        <% end  %>
    </div>
</div>