
<div id="top-banner">
  <div id="top-banner-text-large">
    MENTION THIS AD AND SAVE 20%! | (310) 392-0055
  </div>
  <div id="top-banner-text-small">
    SHOP TRENDY (310) 392-0055
  </div>
</div>

<div id="content1">
  <div id="gallery">
    <div class="slider-container">
      <div class="slider-wrapper">
        <div id="slider">
          <%  @AllSliders.each do |item| %>

              <%= image_tag "Sliders/#{item}"%>

          <% end %>
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
      </div>
    </div>
  </div>
</div>

<div id="mail-list">
</div>

<div id="box-center">
    <div id='yelpwidget'></div>
    <div id="yelp-logo"></div>
</div>

<a href="https://www.facebook.com/trendysm" target="_blank"><div id="box-right-top"></div></a>
<a href="https://www.instagram.com/" target="_blank"><div id="box-right-center"></div></a>
<a href="https://twitter.com/trendy_sunglass" target="_blank"><div id="box-right-bottom"></div></a>


      <script>
        $(document).ready(function() {

             /* poopin up */
            $("#mail-list").on("click",function() {
            $.get('/newsletter', function(data){
            $('.popi').html(data);
            $('.popi').fadeIn();
            $('.popi').css( "width", "50%" );
            $('.popi').css("height", "50%");
            });

                $(function() {
                var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();

                    $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();
                    });
                });
            });

        /*Slider*/

        var slider = $('#slider').leanSlider({
        directionNav: '#slider-direction-nav',
        controlNav: '#slider-control-nav'
        });

        $('.top-ad').slidesjs({
        width: 400,
        height: 100,
        play: {
        effect: "fade",

        auto: true,
        interval: 4000,
        swap: true
        }
        }) ;



        });
      </script>






