
<div id="come_visit">
  Come Visit Us!
</div>

<div id="map_canvas">
  <iframe width="900" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?t=m&amp;q=Trendy+Sunglasses,+Santa+Monica,+CA&amp;ie=UTF8&amp;hq=Trendy+Sunglasses,+Santa+Monica,+CA&amp;ll=34.0030
,-118.483&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?t=m&amp;q=Trendy+Sunglasses,+Santa+Monica,+CA&amp;ie=UTF8&amp;hq=Trendy+Sunglasses,+Santa+Monica,+CA&amp;ll=34.0005,-118.482335&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#000;text-align:left">View Larger Map</a></small>
</div>