<div id="terms-wrapper">
  <div id="terms-paragraph">
    <div id="terms">ABOUT US</div>
    Trendy Sunglasses is Santa Monica's largest independently owned sunglass boutique! We have over 2000 types of sunglasses in our shop from all major brands.
    Our shelves are stocked with an amazing selection of sunglasses from the likes of Ray-Ban, Oliver Peoples, Salt Optics, Persol, Maui Jim, Paul Smith, Oakley and much, much more! Our boutique carries a wide selection of styles, brands, and prices to fit every budget.
    Ray-Ban is currently the top brand of sunglasses in the world, and we have one of the biggest selections of Ray-Ban sunglasses for men and women in Los Angeles. We currently also have Ray-Ban eyeglasses and Ray-Ban kids sunglasses!  Our prices for Ray-Bans are below retail.  We carry all the sizes and colors in Ray-Bans!
    Come visit and let us put you in style with our amazing selection of sunglasses and unrivaled service!
    <div id="terms">TERMS OF SERVICE</div>

    <h5>Payment</h5>
    All payments are due upon receipt. If a payment is not received or payment method is declined, the buyer forfeits the ownership of any items purchased. If no payment is received, no items will be shipped.

    <br><br>
    <h5>Shipping Policies</h5>
    Shipping will be paid for by the buyer in the amount agreed upon by the seller at the time of purchase. If an item is lost during shipping, the total cost of item, including shipping, will be refunded to the buyer by the seller. Shipping costs may double if shipping internationally. If an item is damaged during shipping, seller will not be held responsible.

    <div id="terms">PURCHASE POLICY</div>
    <h5>Returns and Exchanges</h5>
    All sales are final. No returns will be accepted. Customer is entitled to a seven day grace period in which they may choose to exchange their item for another item of equal or higher value.
    In the event the total is greater than the customer's original purchase, customer is responsible for any remaining difference. In the event the difference is less that the customers original puchase,
    a store credit will be issued to the customer is said amount.

    <br><br>
    <h5>Cancellation</h5>
    An item may be cancelled up until payment has been processed. Once payment has been processed, the buyer is responsible for payment.

    <br><br>
    <h5>Complaints</h5>
    Any complaints about items or sellers may be sent to our support team: support@trendysunglasses.com or (310) 392-0055. There is no guarantee of a resolution. Each case will be looked at individually, and the seller will be in contact as well.

    These terms and conditions are subject to change

    <div id="terms">CONTACT</div>
    <h5>Mail:</h5>
    2716 Main St
    Santa Monica, CA
    90405
    <br><br>
    <h5>Phone:</h5>
    (310) 392-0055
    <br><br>
    <h5>Email:</h5>
    help@shoptrendysunglasses.com
    <br><br>

  </div>
</div>
