*{
    margin: 0px;
    margin-top: 0px;
}

body{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    background-image:url("Background.gif");
    background-attachment: fixed;
}

#wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    background-color: rgba(0,0,0,0);
}


header{
    width: 100%;
    height: 175px;
    margin-top: -30px;
    box-shadow: 0 0 2px #000;
    background-image:url("header.gif");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-position: bottom;
}

#logo{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image:url("logolarge.png");
    margin-top: 20px;
    margin-bottom: 0px;
}

#top-banner{
    margin-top: 28px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    background-image:url("pic1/topBanner.jpg");
}

#top-banner-text-large {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    font-family: "Champagne & Limousines";
    padding-top: 15px;
    font-size: 19px;
    color: #333;
    letter-spacing: 4px;
    position: relative;
}

#top-banner-text-small {
    width: 100%;
    max-width: 400px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    font-family: "Champagne & Limousines";
    font-size: 18px;
    color: #333;
    letter-spacing: 4px;
    position: relative;
    visibility: hidden;
}

#content1{
    width: 100%;
    box-shadow: 0 0 2px #000;
    background-color:#fff;
    margin-top: 55px;
}

#content img{
    width: 1025px;
    margin-left: -100px;
}

#slider_box{
    width: 100%;
    margin-top: 20px;
    margin-left: -122px;
}

#mail-list{
    width: 250px;
    height: 200px;
    margin-top: 0px;
    margin-right: 1.1%;
    margin-left: 3%;
    margin-bottom: 40px;
    background-color: #FFF;
    box-shadow: 0 0 2px #000;
    background-image:url("mail.jpg");
    float: left;
}

#mail-text{
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 250px;
    background-image:url("maillisttext.png");
    background-repeat: no-repeat;
}

#box-center{/*red box yelp*/
    height: 200px;
    width: 450px;
    margin-top: 0px;
    margin-left: 17px;
    margin-bottom: 40px;
    background-color: #fff;
    background-image: url("Yelp-Background.jpg");
    box-shadow: 0 0 2px #000;
    float: left;
}

#yelp-logo{
    margin-left: 25px;
    margin-top: 50px;
    padding-right: 5px;
    background-image: url("yelp-logo.jpg")  ;
    background-size: 100% 100%;
    width :150px;
    height :90px ;
}
#yelpwidget{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    font-family: "Champagne & Limousines";
}

#box-right-top{
    height: 50px;
    width: 175px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 16px;
    background-color: #375794;
    box-shadow: 0 0 2px #000;
    background-image:url("facebookbig.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#box-right-center{
    height: 50px;
    width: 175px;
    margin-top: 25px;
    margin-left: 16px;
    background-color: #FFF;
    box-shadow: 0 0 2px #000;
    background-image:url("instagrambig.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}


#box-right-bottom{
    height: 50px;
    width: 175px;
    margin-top: 25px;
    margin-left: 16px;
    background-color: #33ccff;
    box-shadow: 0 0 2px #000;
    background-image:url("twitterbig.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
    float: left;
}

#socialicon {
    margin-left: 1%;
    margin-top: 140px;
    float: right;
}

#iconposition{
    margin-right: 5px;
    padding-bottom: 10px;
}

nav {
    height: 40px;
    width: 100%;
    margin-top: 1px;
    background: #cc0000;
    font-size: 11pt;
    font-family: "Champagne & Limousines";
    position: relative;
    box-shadow: 0 0 2px #000;
}

nav ul {
    padding: 0px;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #4e4e4e;
}

nav a#pull {
    display: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.clearfixfoot:before,
.clearfixfoot:after {
    content: " ";
    display: table;
}

#footer{
    height: 50px;
    width: 100%;
    max-width: 990px;
    margin-top: 40px;
    background-color: #cc0000;
    box-shadow: 0 0 2px #000;
    position: relative;
    z-index: 0;
    clear: both;
}

#footer ul{
    padding-top:15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

#footer li {
    display: inline;
    padding-left: 4%;
    font-family: "Champagne & Limousines";
    font-size: 12px;
    text-decoration: none;
}

#footer li a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

#footer li a:hover {
    color: #000;
}

#extra-contact {
    visibility: hidden;
}

#about-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
}

#about{
    width: 100%;
    font-family: "Champagne & Limousines";
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #cc0000;
}

#about-paragraph{
    width: 94%;
    max-width: 640px;
    font-family: "Champagne & Limousines";
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-right:10px;
    margin-bottom: -40px;
    padding-left: 10px;
    color: #333;
    overflow: hidden;
}

#terms-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
}

#terms{
    width: 100%;
    font-family: "Champagne & Limousines";
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #cc0000;
}

#terms-paragraph{
    width: 94%;
    max-width: 640px;
    font-family: "Champagne & Limousines";
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-right:10px;
    margin-bottom: -40px;
    padding-left: 10px;
    color: #333;
    overflow: hidden;
}

#map-wrapper{
    width: 100%;
    max-width: 990px;
}


#map-canvas {
    width: 100%;
    max-width: 900px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 2px #000;
    background-color: #FFF;
}

#map_canvas iframe {
    background-size: cover;
}

#brands-wrapper{
    width: 100%;
    max-width: 990px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#brands-container{
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

#brand1{
    overflow: hidden;
    width: 300px;
    height:175px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    float: left;
}

#brand2{
    overflow: hidden;
    width: 300px;
    height:175px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    float: left;
}

#brand3{
    overflow: hidden;
    width: 300px;
    height:175px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    float: left;
}

#popi {
    margin-left: auto;
    margin-right: auto;
}

.pppp{
    height: 440px;
    width: 100%;
    max-width: 691px;
    margin-top: -380px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #444;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("EmailCardBig.png");
}

.toptext{
    margin-left: 35px;
    font-size: 45px;
    font-family: "Champagne & Limousines";
    color: #77cedf;
}

.bottomtext{
    margin-left: 55px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "Champagne & Limousines";
    color: #f89925;
}

.nameinput{
    width: 300px;
    margin-left: 46px;
}

.mailinput{
    width: 300px;
    margin-top: 15px;
    margin-left: 46px;
}

.inputfields{
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.joinbutton{
    margin-top: 20px;
    margin-left: 150px;
}

#x-button{
    margin-top: -100px;
    margin-bottom: 3px;
    margin-left: 680px;
}

#content-container {
    width: 990px;
    height: 200px;
}

#come_visit{
    margin-top: 20px;
    margin-bottom: -40px;
    margin-left: 50px;
    font-family: "Champagne & Limousines";
    font-size: 35px;
    width: 200px;
    background-color: #fff;
}

#sun-text{
    margin-top: 20px;
    font-family: "Champagne & Limousines";
    font-size: 35px;
    background-color: #fff;
    width: 175px;
}

#optical-text{
    margin-top: 20px;
    font-family: "Champagne & Limousines";
    font-size: 35px;
    background-color: #fff;
    width: 225px;

}

#limited-stock-item{
    margin-left: 92px;
    margin-top:-50px;
}

.slider { position: relative; overflow: auto; }
.slider li { list-style: none; }
.slider ul li { float: left; }

.unslider-arrow.prev{
    width: 100%;
    background-image: url("arrows.png") ;
}


/*************************     Backend CSS     *********************************/

#backend-wrapper{
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
    box-shadow: 0 0 2px #000;
}

#backend-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#backend-menu{/*admin index boxes*/
    overflow: hidden;
    width: 300px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 2px #000;
    float: left;
}

#backend-menu a{
    margin-left: 20px;
    color: #fff;
    font-size: 35px;
    font-family: "Champagne & Limousines";
    text-decoration: none;
}

#newsletter-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    margin-bottom: -40px;
}

#newsletter-container{
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: arial, sans-serif;
}

#newsletter-container h1{
    color: #33ccff;
    font-size: 22px;
    font-family: arial, sans-serif;
 }

#newsletter-container h2{
    font-size: 18px;
    font-family: "Helvetica Neue Light";
    padding-bottom: 15px;
}

#contact-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #333;
    box-shadow: 0 0 2px #000;
    margin-bottom: -40px;
}

#contact-container{
    width: 100%;
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #fff;
    background-color: #333;
}

#contact-container li{
    margin-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#save-box{
    width: 75px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#banner-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    margin-bottom: -40px;
}

#banner-container{
    width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: arial, sans-serif;
}

#banner-container h1{
    font-size: 15px;
    font-family: arial, sans-serif;
}

#about-edit-wrapper{
    width: 100%;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    margin-bottom: -40px;
}

#about-edit-container{
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    font-family: arial, sans-serif;
}

/*************************      End Backend CSS     ****************************/

@media screen and (max-width: 1100px) {
    #box-center {
        margin-left: 5%;
    }
    #box-right-top{
        width: 200px;
        margin-left: 15%;
        margin-top: 30px;
    }
    #box-right-center{
        width: 200px;
        margin-left: 20px;
        margin-top: 30px;
    }
    #box-right-bottom{
        width: 200px;
        margin-left: 20px;
        margin-top: 30px;
    }
    #mail-list {
        margin-left: 8%;
    }
}

@media screen and (max-width: 1025px) {
    #brands-container{
        width: 660px;
        margin-left: auto;
        margin-right: auto;
    }
    #backend-container{
        width: 660px;
        margin-left: auto;
        margin-right: auto;
    }
    #backend-menu{
        margin-left: 0px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 900px) {
    #mail-list {
        margin-left: 4%;
    }
    #box-right-top{
        margin-left: 12%;
    }
    #footer{
        height: 70px;
    }
    #footer li {
        padding-right: 30px;
    }
}

@media screen and (max-width: 855px) {
    #mail-list {
        margin-left: 3%;
    }
    #box-right-top{
        margin-left: 6%;
    }
}

@media screen and (max-width: 840px){
    #box-center {
        margin-bottom: -300px;
        margin-top: -475px;
        margin-left: 15%;
    }
    #mail-list {
        margin-top: 230px;
        margin-left: 5%;
    }
    #box-right-top{
        width: 250px;
        margin-left: 55%;
        margin-top: -240px;
    }
    #box-right-center{
        width: 250px;
        margin-left: 55%;
        margin-top: -165px;
    }
    #box-right-bottom{
        width: 250px;
        margin-left: 55%;
        margin-top: -90px;
    }
    #about-paragraph {
        font-size: 20px;
    }
}

@media screen and (max-width: 675px) {
    #brand1 {
        margin-right: 0px;
        margin-left: 0px;
    }

    #brand2 {
        margin-left: 0px;
        margin-right: 0px;
    }

    #brand3 {
        margin-left: 0px;
        margin-right: 0px;
    }
    #brands-container{
        width: 300px;
    }
    #backend-container{
        width: 300px;
    }

}

@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #000;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    #box-center{
        margin-left: 9%;
    }
    #mail-list {
        margin-left: 2%;
    }
    #logo{
        background: url("logomedium.png") no-repeat;
    }
    #box-right-top{
        width: 225px;

        margin-left: 55%;
    }
    #box-right-center{
        width: 225px;
        margin-left: 55%;
    }
    #box-right-bottom{
        width: 225px;
        margin-left: 55%;
    }
    #footer{
        height: 150px;
        margin-bottom: -40px;
    }
    #footer li{
        margin-left: -30px;
        display: block;
    }
    #extra-contact{
        visibility: visible;
        margin-left: 55%;
        margin-top: -115px;
        font-family: "Champagne & Limousines";
        font-size: 16px;
        color: #fff;
    }
    #top-banner-text-large{
        visibility: hidden;
    }
    #top-banner-text-small{
        visibility: visible;
    }
}

@media only screen and (max-width : 550px) {
    #box-center{
        width: 100%;
        background-size: 100% 200px;
        margin-left: 0%;
    }
    #mail-list {
        width: 100%;
        margin-left: 0px;
    }
    #box-right-top{
        width: 100%;
        margin-top: 0px;
        margin-left: 0%;
    }

    #box-right-center{
        width: 100%;
        margin-top: 25px;
        margin-left: 0%;
    }
    #box-right-bottom{
        width: 100%;
        margin-top: 20px;
        margin-left: 0%;
    }
    #top-banner-text-small{
        width: 100%;
        margin-top: -45px;
    }
    #top-banner-text-small {
        padding-left: 11%;
        font-size: 18px;
    }
}

@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: #cc0000;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content: "";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 5px;
    }
    #logo{
        margin-bottom: -500px;
        margin-left: 3%;
        background-image:url("logosmall.png");
    }
    #yelpwidget{
        margin-right: 14%;
    }
    #yelp-logo{
        display: none;
    }
    #top-banner-text-small {
        padding-left: 14%;
        font-size: 16px;
    }
}

@media only screen and (max-width : 400px) {
    #yelpwidget{
        margin-right: 9%;
    }
    #top-banner-text-small {
        padding-left: 10%;
    }
}

@media only screen and (max-width : 370px) {
    #yelpwidget{
        margin-right: 8%;
    }
    #map-canvas {
        height: 300px;
    }
    #top-banner-text-small {
        padding-left: 2%;
    }
    #newsletter-container{
        margin-left: 30px;
    }
}

@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: left;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #000;
    }

    #yelpwidget{
        margin-top: 20px;
        margin-right: 5px;
    }
    #top-banner-text-small {
        padding-left: 2%;
    }
}

#screen {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 2;
}
